---
layout: default
title: Home
---

<style>
  .container-home {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 2.0;
  }
</style>

<div class="container-home">
  <h3>
    Welcome to the Yonsei MLSys Student Group Webpage!
  </h3>
  <p>
    We are dedicated to exploring diverse aspects of machine learning and computational systems while fostering a vibrant social community for graduate and undergraduate students interested in computer science at Yonsei University.
  </p>
  <p>
    Feel free to reach out with any questions at <a href="mailto:yonsei-mlsys@googlegroups.com" class="email-link">yonsei-mlsys@googlegroups.com</a>.
  </p>

  <h6>
    We are currently sponsored by ASO Lab, CIP Lab, Core Lab and MICV Lab.
  </h6>
</div>

<br>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
