<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <div>
      Welcome to the Yonsei MLSys Student Group Webpage!

      We are dedicated to exploring diverse aspects of machine learning and computational systems while fostering a vibrant social community for graduate and undergraduate students interested in computer science at Yonsei University.

      Feel free to reach out with any questions at kiung@gmail.com.
    </div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

 
    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>
